features/*
!features/.git-keep

__pycache__

wandb
.vscode

# ignore hydra outputs
outputs
multirun
*.log

*.pth
*.sh
test*.py

.env
logs

libs/utils/nms_1d_cpu.egg-info
libs/utils/dist
libs/utils/build

tg*

artifacts_data

pretrained

data/*/raw
data/*/processed

checkpoints

tmp

!data/ego4d/raw/annotations/mq_labels.tsv